   body,
   html {
     height: 100%;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
   }

   .hero-image {
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("welcome-banner.jpg");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

   }

   .logo img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%)
   }

   .hero-text {
     text-align: center;
     position: absolute;
     top: 85%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
   }

   .container {
     position: absolute;
     width: 100%;
   }

   .topnav {
     display: flex;
     overflow: hidden;
     justify-content: center;
     background-color: #b44f27;
   }

   .topnav a {
     display: inline-block;
     color: #f2f2f2;
     text-align: center;
     padding: 30px 50px;
     text-decoration: none;
     font-size: 17px;
   }

   .topnav a:hover {
     background-color: #c67e5e;
     color: white;
   }

   .button {
     display: inline-block;
     margin: 20px;
     text-decoration: none;
     font-family: Arial;
     font-size: 14px;
     border: none;
     border-radius: 3px;
     color: #fff;
     background-color: #b44f27;
     padding: 3px 7px;
   }

   .button:hover {
     background-color: #c67e5e;
     transition: 0.3s;
   }

   .button:active {
     background-color: #f0dfd8;
   }

   .tableContainer {
     padding-bottom: 20px;
   }

   .tableLeft {
     float: left;
     width: 50%;
     display: flex;
     vertical-align: top;
     justify-content: center;
     height: 100vh;
   }

   .result {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     position: relative;
     z-index: 1;
   }

   .tableRight {
     float: right;
     width: 50%;
     display: flex;
     vertical-align: top;
     justify-content: center;
     height: 100vh;
   }